version: '3.4'

services:
  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.1
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    networks:
      - elastic
    
  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:7.9.1
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - SERVER_BASEPATH=/kibana
    networks:
      - elastic
        
  cerebro:
    container_name: cerebro
    image: lmenezes/cerebro
    networks:
      - elastic    
      
  elastic-logging:
    container_name: "elastic-logging"
    image: elastic-logging
    environment:
      - BASE_PATH=elog
      - HEALTH_URL=http://localhost/health
      - REWRITE_PORT=40443
      - Serilog__WriteTo__0__Args__nodeUris=http://elasticsearch:9200
    networks:
      - elastic
        
  demo-transportation:
    container_name: demo-transportation
    image: transportation:latest
    ports:
      - 9099:80
    environment:
      - JwtOptions__Secret=elastic-local-secret-key-example'
      - JwtOptions__Issuer=https://elastic.local/
    networks:
      - elastic
        
  dokuwiki:
    container_name: dokuwiki
    image: lscr.io/linuxserver/dokuwiki:latest
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Prague
    volumes:
      - ./dokuwiki/config:/config
    ports:
      - 8089:80
    networks:
      - elastic        
  
  # https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/Docker-Nginx-reverse-proxy-setup-example
  nginx-proxy:
    container_name: nginx-proxy
    image: nginx:latest
    ports:
      #- 8088:80
      - 40443:443
    volumes:
      - ./conf.d/:/etc/nginx/conf.d/
      - ./nginx-html/:/usr/share/nginx/html/
      - ./ssl/:/ssl/
      - ./psw/:/psw/
    networks:
      - elastic

networks:
  elastic:
    driver: bridge

volumes:
  elasticsearch-data: 